* {
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

    /*LOG IN PAGE*/
.log-in-header {
    width: 100%;
    height: 100px;
    background-color: #66FCF1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.log-in-header h1 {
    font-size: 2rem;
    color: #1F2833;
}  

.log-in-section {
    width: 100%;
    height: 600px;
    background-color: #0B0610;
    opacity: 0.9;
}

.bg-login {
    background-image: url(img/57457-Fantasy-Portal-4k-Ultra-HD-Wallpaper.jpg);
    background-size: cover;
    width: 100%;
    height: 700px;
    image-orientation: 16/9;
    
}

.log-in-box {
    width: 30%;
    height: 450px;
    background-color: #0B0610;
    opacity: 0.9;
    margin: auto;
    position: relative;
    top: 100px;
    border-radius: 15px;
    box-shadow: 0px 0px 3px 1px rgb(0, 0, 0);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    
}

.log-in-box h2 {
    font-size: 2rem;
    margin-top: 30px;
    margin-bottom: 40px;
    color: aliceblue;
}

.log-box input {
    width: 300px;
    font-size: 1.3rem;
    padding: 10px;
    margin-top: 15px;
    border-radius: 6px;
    border-style: none;
    outline: none;
    border: 2px solid #66FCF1;
    opacity: 0.9;
    background-color: #0B0610;
    color: aliceblue;
}

a.forgot-pass {
    margin-top: 10px;
    cursor: pointer;
    color: aliceblue;
}

a.forgot-pass:hover {
    text-decoration: underline;
}

a.log-in-button {
    width: 60%;
    height: 50px;
    font-size: 1.2rem;
    border: 2px solid #66FCF1;
    color: #66FCF1;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

a.log-in-button:hover {
    background-color: #66FCF1;
    color: #0B0610;
    border: 2px solid black;
}

a.create-button {
    width: 60%;
    height: 50px;
    font-size: 1.2rem;
    border: 2px solid #66FCF1;
    color: #66FCF1;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

a.create-button:hover {
    background-color: #66FCF1;
    color: #0B0610;
    border: 2px solid black;
}

    /*SIGN UP PAGE*/
.sign-up-header {
    width: 100%;
    height: 100px;
    background-color: #66FCF1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-up-header h1 {
    font-size: 2rem;
    color: #1F2833;
}  

.sign-up-section {
    width: 100%;
    height: 600px;
    background-color: #0B0610;
    opacity: 0.9;
}

.bg-sign-up {
    background-image: url(img/57457-Fantasy-Portal-4k-Ultra-HD-Wallpaper.jpg);
    background-size: cover;
    width: 100%;
    height: 700px;
    image-orientation: 16/9;
    
}

.sign-up-box {
    width: 32%;
    height: 580px;
    background-color: #0B0610;
    opacity: 0.9;
    margin: auto;
    position: relative;
    top: 100px;
    border-radius: 15px;
    box-shadow: 0px 0px 3px 1px rgb(0, 0, 0);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    
}

.sign-up-box h2 {
    font-size: 2rem;
    margin-top: 30px;
    margin-bottom: 40px;
    color: aliceblue;
}

.sign-box input {
    width: 300px;
    font-size: 1.3rem;
    padding: 10px;
    margin-top: 15px;
    border-radius: 6px;
    border-style: none;
    outline: none;
    border: 2px solid #66FCF1;
    opacity: 0.9;
    background-color: #0B0610;
    color: aliceblue;
}

input.date {
    color-scheme: dark;
    opacity: 0.9;
}

.sign-box label {
    font-size: 1rem;
    color: aliceblue;
    position: relative;
    top: 15px;
    left: 5px;
}

a.sign-up-button {
    width: 50%;
    height: 50px;
    font-size: 1.2rem;
    border: 2px solid #66FCF1;
    color: #66FCF1;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

a.sign-up-button:hover {
    background-color: #66FCF1;
    color: #0B0610;
    border: 2px solid black;
}

a.log-here-button {
    width: 50%;
    height: 50px;
    font-size: 1.2rem;
    border: 2px solid #66FCF1;
    color: #66FCF1;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-decoration: none;
}

a.log-here-button:hover {
    background-color: #66FCF1;
    color: #0B0610;
    border: 2px solid black;
}

    /*REALMXP PAGE*/
.holy-grail-grid {
    color: azure;
    display:grid;
    grid-template-areas:
        'header'
        'main-content'
        'left-sidebar'
        'right-sidebar';
}

.holy-grail-grid > .header {
    grid-area:header;
    background-color: #28282B;
    border-bottom: 1px solid #66FCF1;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 40px;
}

h2 {
    font-size: 1.2rem;
}

.header nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.search {
    width: 30%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search input {
    width: 75%;
    height: 40px;
    border-radius: 30px;
    font-size: 1rem;
    padding-left: 20px;
    border-style: none;
    outline: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { 
    display: none; 
}

.search img {
    width: 30px;
    cursor: pointer;
    margin-left: 5px;
}

.search img:hover {
    opacity: 0.5;
}

.menu {
    width: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-left: 30px;
    padding-right: 30px;
}

.menu img {
    width: 30px;
    cursor: pointer;
}

.menu img:hover {
    opacity: 0.5;
}

.menu-list {
    width: 200px;
    height: 200px;
    display: none;
    background-color: #66FCF1;
    position: absolute;
    top: 66px;
    right: 20px;
    border-radius: 10px;
    color: #28282B;
    padding: 20px;
    font-size: 1rem;
    cursor: pointer;
}

img.img-menu:hover  ~ .menu-list {
    display: flex;
    align-items: first baseline;
    flex-direction: column;
    justify-content: center;
}

.menu-list:hover {
    display: flex;
    align-items: first baseline;
    flex-direction: column;
    justify-content: center;
}

.menu-list a {
    padding: 10px;
    width: 100%;
    border-radius: 10px;
}

.menu-list a:hover {
    color: azure;
    background-color: #28282B;
}

.holy-grail-grid > .main-content {
    grid-area:main-content;
    background-color: #28282B;
}

.main-content {
    padding: 20px;
    overflow-y: scroll;
}

.newsfeed-box {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    font-size: 1rem;
}

.newsfeed-box img {
    width: 30px;
}

.friends-feed {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 5px;
}

.world-feed {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 5px;
}

.local-feed {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 5px;
}

.friends-feed:hover, .world-feed:hover, .local-feed:hover {
    background-color: #555;
}

.create-post p {
    width: 80%;
    border: 1px solid white;
    font-size: 1rem;
    padding: 10px;
    border-radius: 5px;
}

.create-post {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.create-post img {
    width: 40px;
    border: 1px solid white;
    padding: 10px;
    cursor: pointer;
    border-left: none;
    border-radius: 5px;
}

.create-post img:hover {
    background-color: #555;
}

.post-box {
    width: 100%;
    height: 500px;
    padding: 20px;
}

.male-avatar {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.male-avatar img {
    width: 50px;
}

.post-picture {
    width: 100%;
    height: auto;
}

.post-picture img {
    width: 100%;
    background-size: cover;
}

.like-comment {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

.like-comment input {
    width: 68%;
    height: 35px;
    padding: 5px;
    font-size: 1rem;
    outline: none;
    border: none;
    border-radius: 5px;
}

.like-comment img {
    width: 40px;
    border: 1px solid white;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.like-comment img:hover {
    background-color: #555;
}

.codm-ad {
    width: 100%;
    height: auto;
    padding: 10px;
}

.codm-ad img {
    width: 100%;
    background-size: cover;
}

.holy-grail-grid > .left-sidebar {
    grid-area:left-sidebar;
    background-color: #28282B;
}

.left-sidebar {
    padding: 20px;
    overflow-y: scroll;
}

.left-sidebar:hover {
    overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
    width: 6px;
    height: 30px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #28282B;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
    opacity: 0.9;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: 5px;
    opacity: 0.9;
  }


.profile-status {
    height: 150px;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-left: 20px;
    gap: 20px;
    border-bottom: 1px solid white;
    font-size: 1rem;
}

.profile-status img {
    width: 50px;
}

.online {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: green;
}

.account {
    margin-top: 40px;
    display: flex;
    align-items: first baseline;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    font-size: 1rem;
    margin-bottom: 150px;
}

.account a {
    width: 100%;
    padding: 20px;
    cursor: pointer;
}

.account a:hover {
    border-radius: 10px;
    background-color: #66FCF1;
    color: #28282B;
}

.profile-dropdown {
    width: 300px;
    height: 300px;
    display: none;
    background-color: #66FCF1;
    position: absolute;
    bottom: 80px;
    left: 265px;
    border-radius: 10px;
    color: #28282B;
    padding: 20px;
    font-size: .9rem;
}

a.profiles:hover  ~ .profile-dropdown {
    display: flex;
    align-items: first baseline;
    flex-direction: column;
}

.profile-dropdown:hover {
    display: flex;
    align-items: first baseline;
    flex-direction: column;
}

.accounts-dropdown {
    width: 230px;
    height: 150px;
    display: none;
    background-color: #66FCF1;
    position: absolute;
    bottom: 0px;
    left: 265px;
    border-radius: 10px;
    color: #28282B;
    padding: 20px;
    font-size: .9rem;
}

a.accounts:hover  ~ .accounts-dropdown {
    display: flex;
    align-items: first baseline;
    flex-direction: column;
    justify-content: center;
}

.accounts-dropdown:hover {
    display: flex;
    align-items: first baseline;
    flex-direction: column;
    justify-content: center;
}

.accounts-dropdown a:hover {
    color: azure;
    background-color: #28282B;
}

.realmxp-footer {
    border-top: 1px solid white;
    margin-top: 40px;
    text-align: center;
    font-size: .8rem;
}

.holy-grail-grid > .right-sidebar {
    grid-area:right-sidebar;
    background-color: #28282B;
}

.right-sidebar {
    padding: 20px;
    overflow-y: scroll;
}

.right-sidebar:hover {
    overflow-y: scroll;
}

.chat-room {
    width: 100%;
    height: 50px;
    text-align: center;
    border-bottom: 1px solid white;
}

.friend-list {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    padding: 20px;
}

.friend-list img {
    width: 50px;
    border-radius: 50%;
}

img.friend-icon, img.world-icon {
    width: 30px;
    margin-left: 5px;
    cursor: pointer;
}

img.friend-icon:hover, img.world-icon:hover {
    opacity: 0.7
}

.friend-list p {
    font-size: .8rem;
}

.active-online {
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50%;
    margin-left: 20px;
}

.ian, .kyle, .russel, .jerome, .denzee, .simeon {
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 10px;
    cursor: pointer;
    padding: 5px;
}

.ian:hover, .kyle:hover, .russel:hover, .jerome:hover, .denzee:hover, .simeon:hover {
   background-color: #66FCF1;
   color: #28282B;
   border-radius: 5px;
}

.search-friends {
    width: 100%;
    height: 50px;
    border-top: 1px solid white;
    display: flex;
    align-items: center;
    padding-top: 10px;
    justify-content: center;
    position: relative;
}

.search-friends input {
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: .9rem;
}

.search-friends img {
    position: absolute;
    width: 30px;
    right: 25px;
    bottom: 5px;
    cursor: pointer;
}

.search-friends img:hover {
    opacity: 0.9;
}



/* tablet breakpoint */
@media (min-width:768px) {
    .holy-grail-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            'header header'
            'main-content main-content'
            'left-sidebar right-sidebar';
    }
}

/* desktop breakpoint */
@media (min-width:1024px) {
    .holy-grail-grid {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 100px 600px;
        grid-template-areas:
            'header header header header'
            'left-sidebar main-content main-content right-sidebar';
    }
}